@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


/* --- 适配暗色主题的原生播放器样式 --- */
audio {
    color-scheme: dark;
    filter: invert(1) hue-rotate(180deg);
    border-radius: 50px;
}
